{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--link do estilo css-->
	<link rel="stylesheet" href="{% static 'css/feed.css' %}">
	<title>KAHLO - Perfil</title>
</head>

{% block content %}

<body>
	
	<nav>
		<div class="nav-left">
			<div class="logo"><img src="{% static 'img/logo.png' %}"></div>
		</div>
	</nav>

	<!--início corpo site-->
	<div class="container">
		<div class="left-sidebar">
			<div class="links">
				<a href="{% url 'post-list' %}"><img src="{% static 'img/icon_principal.png' %}">Principal</a>
				<a href="{% url 'perfil' request.user.perfil.pk %}"><img src="{% static 'img/icon _perfil.png' %}">Meu Perfil</a>
	
				<a href="{% url 'inbox' %}"><img src="{% static 'img/icon_chat.png' %}">Chat</a>
	
			</div>
			<div class="outros">
				<p>OUTROS</p>
				<a href="https://www.instagram.com/"><img src="{% static 'img/icon_instagram.png' %}">Instagram</a>
				<a href="https://www.twitter.com/"><img src="{% static 'img/icon_twitter.png' %}">Twitter</a>
	
				<a href="{% url 'account_logout' %}"><img src="{% static 'img/icon_sair.png' %}">Sair</a>			
			</div>
		</div>

		<div class="main-perfil">  
			
			<div class="conteudo-perfil">	
				<img src="{{ perfil.foto.url }}">
                    
				{% if perfil.nome %}
					<h3>{{ perfil.nome }}</h3>		
				{% else %}
					<h3>{{ user.username }} </h3>
				{% endif %}
						
				{% if perfil.localização %}
					<p> {{ perfil.localização }}</p>
				{% endif %}

				{% if perfil.aniversário %}
					<p>{{ perfil.aniversário }}</p>
				{% endif %}

				{% if perfil.bio %}
					<p class="biografia">{{ perfil.bio }}</p>
				{% endif %}

			</div>

			<div class="acessorios">
				<a href="{% url 'list-seguidores' perfil.pk %}">
					<button>Seguidores: {{ numero_seguidores }}</button>
				</a>
				
				{% if user == request.user %}
				
				{% else %}

				{% if is_seguindo %}
					<form method="POST" action="{% url 'remove-seguidor' perfil.pk %}">
						{% csrf_token %}
						<button type="submit">Deixar de seguir</button>
					</form>
				{% else %}

					<form method="POST" action="{% url 'add-seguidor' perfil.pk %}">
						{% csrf_token %}
						<button type="submit">Seguir</button>
					</form>
				{% endif %}
				{% endif %}

				<span>
					{% if request.user == user %}
						<a href="{% url 'perfil-edit' perfil.pk %}">
							<button>Editar Perfil</button>
						</a>
					{% endif %}
				</span>  
			</div>

			<div class="opcoes_2">
				<h4>Publicações</h4>
			</div>

			{% if posts.all.count == 0 %}
                <p class="info_sempost">Você não publicou nada ainda.</p>
            {% endif %}

			
        	{% for post in posts %}

				<div class="box-perfil">
					<div class="user-profile"></div>	
						
					<div class="post">
						<p><a href="{% url 'perfil' post.autor.perfil.pk %}" style="text-decoration: none">@{{post.autor }}</a> {{ post.criado_em }} </p>
						
						<div class="corpo_post">
							{% if post.image %}
								<div class="post_image">
									<img src="{{ post.image.url }}">
								</div>
							{% endif %}
							<p>{{ post.corpo }}</p>  
						</div>
						
						<a href="{% url 'post-detail' post.pk %}" class="comment_button"><button>Comentar</button> </a>

						<form method="POST" action="{% url 'like' post.pk %}">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}">
							<a class="like_button">
								<button type="submit"> Amei:
									<span> {{ post.likes.all.count }} </span>
								</button>
							</a>
						</form>

						{% if request.user == post.autor %}

							<div class="icon_buttons">
                        		<a href="{% url 'post-delete' post.pk %}"><img src="{% static 'img/icon _lixo.png' %}" ></a>
								<a href="{% url 'post-edit' post.pk %}"><img src="{% static 'img/icon_artistas.png' %}" ></a>
							</div>
						{% endif %}

					</div>
				</div>
            {% endfor %}
		</div>
	</div>

	<!--fim corpo site-->
	<script src="js/scripts.js"></script>
	{% endblock content %}
</body>
</html>