{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--link do estilo css-->
	<link rel="stylesheet" href="{% static 'css/feed.css' %}">
	<title>KAHLO - Feed</title>
</head>

<div class="top-pesquisa-seguidores" >
    <h5>Seguidores</h5>
</div>

    <div class="box-search">
        <div class="foto_perfil-pesquisa">

            {% for seguidor in seguidores %}
            <a href="{% url 'perfil' seguidor.perfil.pk %}"><img src="{{ seguidor.perfil.foto.url }}"></a>
            <a href="{% url 'perfil' seguidor.perfil.pk %}"><h5>@{{ seguidor.username }}</h5></a>
            {% endfor %}
         </div>

{% endblock content %}




