{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--link do estilo css-->
	<link rel="stylesheet" href="{% static 'css/feed.css' %}">
	<title>KAHLO - Feed</title>
</head>


<body>
	{% if user.is_authenticated%}
	
	<nav>
		<!--início busca e logo-->
			<!--fim busca e logo-->
	</nav>

	<!--início corpo site-->
	<div class="container">

		<!--início sidebar esquerda-->
		<div class="left-sidebar">
        <div class="links">
            <a href="{% url 'post-list' %}"><img src="{% static 'img/icon_principal.png' %}">Principal</a>
            <a href="{% url 'perfil' request.user.perfil.pk %}"><img src="{% static 'img/icon _perfil.png' %}">Meu Perfil</a>

			<a href="{% url 'inbox' %}"><img src="{% static 'img/icon_chat.png' %}">Chat</a>

        </div>
		<div class="outros">
			<p>OUTROS</p>
			<a href="https://www.instagram.com/"><img src="{% static 'img/icon_instagram.png' %}">Instagram</a>
			<a href="https://www.twitter.com/"><img src="{% static 'img/icon_twitter.png' %}">Twitter</a>

			<a href="{% url 'account_logout' %}"><img src="{% static 'img/icon_sair.png' %}">Sair</a>			
		</div>
        </div>
		<!--fim sidebar esquerda-->

		<!--início conteúdo site-->
		<div class="main-content">
		<!--início quadro de grupo-->

		<!--fim quadro de grupo-->
			
            <div class="opcoes">
				<h4>Conversas</h4>
                    <div class="box_button">
                        <form method="GET" action="{% url 'create-conexao' %}">
                            <button type="submit" class="chat_button"> Buscar </button>
                        </form>
                    </div>
			</div>

            <div class="box">
                
                {% for conexao in conexoes.all %}
                
                <div class="conversa">
                    <a href="{% url 'conexao' conexao.pk %}"><h3>{{ conexao.user }} - {{ conexao.receiver }}</h3></a>
                </div>
                
                <div class="linha">
					<hr>
				</div>
                
                {% endfor %}

				
			</div>
        </div>


				
				

				<div class="linha">
					<hr>
				</div>
				




			</div>
		</div>

		{% else %}

		<a href="{% url 'account_login' %}">LOGIN</a>

		{% endif %}

	<!--fim corpo site-->
<script src="js/scripts.js"></script>
{% endblock content %}
</body>
</html>