@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #B8CDB7;
}

.container-login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-box {
    width: 50%;
    height: 100%;
    background-color: #B8CDB7;
    padding: 0px;
}

.img-box img {
    width: 100%;
    height: 100%;
    padding: 0px 40px 0px 40px;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #B8CDB7;
    backdrop-filter: blur(100px);
}

.content-box .form-box {
    width: 70%;
    height: 600px;
    background: rgba(111, 123, 111, 0.24);
    backdrop-filter: blur(30px);
    padding: 30px 40px;
    border-radius: 50px 50px 50px 50px;
    margin:auto;
}

.content-box .form-box h2 {
    font-weight: bold;
    color: #141C39;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    padding: 18px;
}

.content-box .form-box .input-box {
    margin-bottom: 20px;
}

.content-box .form-box .input-box input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #6F6E73;
    background-color: #fff;
    border-radius: 20px;
}

.content-box .form-box .input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #141C39;
    font-weight: 400;
    font-weight: bold;
}

.content-box .form-box .input-box input[type=submit] {
    background: #c2e6f1;
    color: #141C39;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 20px;
}

.content-box .form-box .input-box input[type=submit]:hover {
    background: #1a6383;
}

.content-box .form-box .input-box p {
    color: #141C39;
    font-weight: 400;
    font-weight: bold
}
.content-box .form-box .input-box p a{
    color: #077394;
    text-decoration: none;
}

.content-box .form-box .input-box p a:hover{
    color: #2600ff;
}

@media (max-width:868px) {
    .container-login .img-box{
        display: none;
    }
    .container-login .content-box{
        width: 100%;
    }
    .container-login .content-box .form-box{
        width: 100%;
        padding: 40px;
        margin: 50px;
    } 
}