{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/outros_forms.css' %}" >
        <title>KAHLO - Deletar</title>
    </head>

    <body>


    {% block content %}

        <div class="box">
            <div id="dark-btn"></div>
            <div class="form-box">
            <h2>
                <a href="{% url 'inbox' %}" >
                <img  src="{% static 'img/kazinho3.svg'%}"></a><br>Pesquise o nome do usuário.</h2>


            {% if messages %}

                {% for message in messages %}

                {{ message }}

                {% endfor %}

            {% endif %}
            <div class="search-user">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class="input-group-user">    
                        <button type="submit">Continue</button>
                    </div>

                </form>
            </div>
        </div>

    {% endblock content %}

    </body>
</html>